In [9]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

df = pd.read_csv('preprocessed_fake_review_data.csv')
df.head()

   label                                            text
0      1  love well made sturdi comfort love veri pretti
1      1        love great upgrad origin mine coupl year
2      1      thi pillow save back love look feel pillow
3      1             miss inform use great product price
4      1        veri nice set good qualiti set two month

# split data

In [10]:
X = df['text']
y = df['label']

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(max_features=5000)

X = vectorizer.fit_transform(X)

In [15]:
print(X.shape)

(40431, 5000)

In [16]:
print(X)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 948159 stored elements and shape (40431, 5000)>
  Coords	Values
  (0, 2624)	0.436866337626087
  (0, 4849)	0.2628048969002514
  (0, 2649)	0.3450918619827274
  (0, 4266)	0.4184445370146403
  (0, 854)	0.3694417178819389
  (0, 4733)	0.3991825802079439
  (0, 3346)	0.3873799816682399
  (1, 2624)	0.1886911652886036
  (1, 1929)	0.18934109042620925
  (1, 4681)	0.5593049812515177
  (1, 3062)	0.43056591374856173
  (1, 2789)	0.480811258304889
  (1, 986)	0.34421894691351895
  (1, 4971)	0.2840253121754567
  (2, 2624)	0.14372100363179474
  (2, 4448)	0.15639438912227469
  (2, 3217)	0.8149358445071414
  (2, 3766)	0.35704196309807484
  (2, 291)	0.2550409255639465
  (2, 2610)	0.1942654950179375
  (2, 1614)	0.24596893670454972
  (3, 1929)	0.22849485246633358
  (3, 2800)	0.5603228913884096
  (3, 2238)	0.5617597836165477
  (3, 4698)	0.2640034550694301
  :	:
  (40430, 4068)	0.05544819452805561
  (40430, 2977)	0.05344158128579014
  (40430, 3661)	0.06870388271769029
  (40430, 2567)	0.044366666311039395
  (40430, 128)	0.06456384719924117
  (40430, 2705)	0.15671167351763632
  (40430, 1617)	0.05147202646574601
  (40430, 4114)	0.06364594618807888
  (40430, 4469)	0.06513021459311064
  (40430, 1317)	0.05583171341626593
  (40430, 4374)	0.081337296024572
  (40430, 669)	0.05683160973139283
  (40430, 4641)	0.07030454301623829
  (40430, 135)	0.07442433153433099
  (40430, 515)	0.06742230754361364
  (40430, 2672)	0.04883527967358321
  (40430, 4007)	0.07989817336303529
  (40430, 1456)	0.07222271779351691
  (40430, 4081)	0.07702549558950632
  (40430, 4926)	0.06513021459311064
  (40430, 2183)	0.07351747622584129
  (40430, 4510)	0.06252476299201203
  (40430, 4979)	0.21903440487869805
  (40430, 3752)	0.07334585608283518
  (40430, 2754)	0.08629040683109337